{% extends 'admin/base_site.html' %}
{% block extrastyle %}
<style>
#header{
}

.module caption{

        font-size: 10px;
}

th,td{

        font-size: 15px;
}
a{

        font-size: 15px;
}

a:link{

        font-size: 15px;
}
a.section:link{
        font-size: 16px;
}
#user-tools{

        font-size: 15px;
}

.object-tools li{
        line-height: 30px;
        
}

.object-tools a:link{
        font-size: 20px;
        background-color:dimgray;
}

.object-tools a.addlink {
        font-size: 20px;
        background-color:forestgreen;
}


</style>





{% endblock %}
{% block branding %}
<h1>BIENVENIDO A SMART LINK</h1>
{% endblock %}

{% block nav-global %}
{% endblock %}