{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Smart link</title>

    <!-- Favicon -->
   

    <!-- Core Stylesheet -->
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="mosh-preloader"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area clearfix">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <!-- Menu Area Start -->
                <div class="col-12 h-100">
                    <div class="menu_area h-100">
                        <nav class="navbar h-100 navbar-expand-lg align-items-center">
                           
                            <a class="navbar-brand" href="/"><img src="{% static 'img/core-img/logo.png' %}" alt="logo"></a>
                            

                            <!-- Menu Area -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mosh-navbar" aria-controls="mosh-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            
                    



                            <div class="collapse navbar-collapse justify-content-end" id="mosh-navbar">
                                    {% if user.is_authenticated %}
                                <ul class="navbar-nav animated" id="nav">
                                        <li class="nav-item"><a class="nav-link" >Bienvenido  {{ user }}</a></li>
                                    

                                   
                                    <li class="nav-item"><a class="nav-link" href="#eventos_para_mi">Eventos para mi</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#eventos_generales">Eventos generales</a></li>
                                    <li class="nav-item"><a class="nav-link" href="historial">Mis eventos</a></li>
                                    
                                    <li class="nav-item"><a class="nav-link" href="profile">Mi perfil</a></li>
                                    <li class="nav-item"><a class="nav-link" href="historial">Sobre nosotros</a></li>
                                    <li class="nav-item"><a class="nav-link" href="logout">Cerrar sesion</a></li>
                                    <!-- <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>-->
                                    {% if user.is_staff %}
                                    <li class="nav-item"><a class="nav-link" href="admin">Panel de administración</a></li>
                                    {% else %}
                                    
                                    {% endif %}
                                </ul>
                             
                                <!-- Search Form Area Start -->
                                <!--<div class="search-form-area animated">
                                    <form action="#" method="post">
                                        <input type="search" name="search" id="search" placeholder="Type keywords &amp; hit enter">
                                        <button type="submit" class="d-none"><img src="{% static 'img/core-img/search-icon.png' %}" alt="Search"></button>
                                    </form>
                                </div>-->
                                <!-- Search btn -->
                                <!--div class="search-button">
                                    <a href="#" id="search-btn"><img src="{% static 'img/core-img/search-icon.png' %}" alt="Search"></a>
                                </div>-->
                                <!-- Login/Register btn -->
                              


                                {% else %}
                                <ul class="navbar-nav animated" id="nav">
                                        <li class="nav-item active"><a class="nav-link" href="#home">Inicio</a></li>
                                     
                                        <li class="nav-item"><a class="nav-link" href="#eventos_generales">Eventos generales</a></li>
                               
                                        <!-- <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>-->
                                    </ul>

                                <div class="login-register-btn">
                                    <a href="login" >Iniciar sesion</a>
                                    <a href="register">/ Registrarme</a>
                                </div>
                                {% endif %}
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
 

   
    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome_area clearfix" id="home" style="background-image: url(static/img/bg-img/welcome-bg.png)">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slides -->
            {% for eventos_principal in eventos_smartlink %} 
            {% if eventos_principal.prioridad == "alta"  %}
            <div class="single-hero-slide d-flex align-items-end justify-content-center">


                <div class="hero-slide-content text-center">
                        <h2 style="margin-bottom:200px">{{eventos_principal.titulo}}</h2>
                        <img src="{{eventos_principal.imagen_portada.url}}" style="width:600px;height:auto;margin-bottom:30%">
           

                    
                    
                       
                    <a style="font-size: 30px;" href="{% url 'evento' pk=eventos_principal.id %}"> 
                            Más información

                        </a>
                    
                </div>
            </div>
            {% else %}
            {% endif %}
            {% endfor %}
            <!-- Single Hero Slides -->
          
        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Service Area Start ***** -->
    
    <section class="mosh-service-area clearfix" style="margin-top:10%">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mosh-service-slides owl-carousel">
                            {% for eventos_normales in eventos_smartlink %} 
                            {% if eventos_normales.prioridad == "normal"  %}
                        <!-- Single Service Area -->
                        <div class="single-service-area text-center">
                            <h2>{{eventos_normales.titulo}}</h2>
                            <h4>{{eventos_normales.tipo_evento}}</h4>
                            <a href="{% url 'evento' pk=eventos_normales.id %}"> 
                                    Más información
        
                                </a>
                        </div>
                        <!-- Single Service Area -->
            {% else %}
            {% endif %}
            {% endfor %}
                    </div>
                </div>
                <!-- Discover More btn 
                <div class="col-12 text-center mt-100">
                    <a href="#" class="btn mosh-btn">Discover More</a>
                </div>-->
            </div>
        </div>
    </section>
    <!-- ***** Service Area End ***** -->

    {% if user.is_authenticated %}

    
    


    <!-- Modal -->
    
          {% if user.clientes.relacion_tec %}
         
                        {% else %}
                        <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                              
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      
                                      <h4 class="modal-title">AVISO</h4>
                                    </div>
                        <div class="modal-body">
                                <p style="color:black"> Para poder continuar navegando por favor completa tu perfil</p>
                              </div>
                              <div class="modal-footer">
                    
                                   
                                    <form>
                    
                                            <input type="button"  style="cursor:pointer" class="btn btn-success" value="Completar perfil" onclick="window.location.href='/profile/edit_profile/'" />
                                            
                                            </form> 
               
            
              
          
          </div>
        </div>
    
      </div>
    </div>



    {% endif %}
    <!-- ***** Clients Area Start ***** -->
    <section class="mosh-clients-area section_padding_100 clearfix" id="eventos_para_mi">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        
                        <h2>Eventos para {{ user.clientes.relacion_tec}}</h2>
                    </div>
                </div>
                <div class="col-12">
                    <div class="clients-logo-area d-sm-flex align-items-center justify-content-between">
                        <!--<a href="#"><img src="{% static 'img/clients-img/1.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/clients-img/2.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/clients-img/3.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/clients-img/4.png' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/clients-img/5.png' %}" alt=""></a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ***** Clients Area End ***** -->

    <!-- ***** Features Area Start *****
    <section class="mosh-features-area section_padding_100 clearfix">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-md-6">
                    <div class="section-heading">
                        <p>clients</p>
                        <h2>What you get if you start your business with us</h2>
                    </div>
                    <div class="features-content">
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio ves tibul. Nec odio vestibulum est mattis effic iturut magna. Pellente sque sita met tellus blandit. Etiam nec odio.</p>
                        
                        <div class="features-progress-bar mt-50">
                            
                            <div class="single_progress_bar mb-15 wow fadeInUp" data-wow-delay="0.2s">
                                <p>Development</p>
                                <div id="bar1" class="barfiller">
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                    <span class="fill" data-percentage="70"></span>
                                </div>
                            </div>
                            
                            <div class="single_progress_bar mb-15 wow fadeInUp" data-wow-delay="0.4s">
                                <p>Design</p>
                                <div id="bar2" class="barfiller">
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                    <span class="fill" data-percentage="90"></span>
                                </div>
                            </div>
                            
                            <div class="single_progress_bar mb-15 wow fadeInUp" data-wow-delay="0.6s">
                                <p>SEO</p>
                                <div id="bar3" class="barfiller">
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                    <span class="fill" data-percentage="55"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="features-img">
            <img src="{% static 'img/bg-img/features.png' %}" alt="">
        </div>
    </section>-->
    <!-- ***** Feature Area End ***** -->

    <!-- ***** Service Area Start ***** -->
    

 
<section class="mosh-more-services-area d-sm-flex clearfix" style="            overflow-y: scroll;">

    <!-- INICIO DE LA CONDICION   -->
        {% if user.clientes.relacion_tec == "Empleado Tec" %}
            {% for ev in eventos_smartlink %} 
            {% if ev.tipo_invitacion == "Empleado Tec"  %}
        <div class="single-more-service-area" >
                
            <div class="more-service-content text-center wow fadeInUp" data-wow-delay=".1s"> 
                <img src="{% static 'img/core-img/trophy.png' %}" alt="">
                <h4>{{ev.titulo}}</h4>
                <a href="{% url 'evento' pk=ev.id %}"> 
                        Más información

                    </a>
             
        </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
        {% else %}
        {% endif %}

        <!-- FIN DE LA CONDICION   -->



            <!-- INICIO DE LA CONDICION  2 -->
            {% if user.clientes.relacion_tec == "Alumno Profesional/Preparatoria" %}
            {% for ev in eventos_smartlink %} 
            {% if ev.tipo_invitacion == "Alumno Profesional/Preparatoria"  %}
        <div class="single-more-service-area" >
                
            <div class="more-service-content text-center wow fadeInUp" data-wow-delay=".1s"> 
                <img src="{% static 'img/core-img/trophy.png' %}" alt="">
                <h4>{{ev.titulo}}</h4>
                <a href="{% url 'evento' pk=ev.id %}"> 
                        Más información

                    </a>
           
        </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
        {% else %}
        {% endif %}

        <!-- FIN DE LA CONDICION   -->


            <!-- INICIO DE LA CONDICION   3-->
            {% if user.clientes.relacion_tec == "Exatec" %}
            {% for ev in eventos_smartlink %} 
            {% if ev.tipo_invitacion == "Exatec"  %}
        <div class="single-more-service-area" >
                
            <div class="more-service-content text-center wow fadeInUp" data-wow-delay=".1s"> 
                <img src="{% static 'img/core-img/trophy.png' %}" alt="">
                <h4>{{ev.titulo}}</h4>
                <a href="{% url 'evento' pk=ev.id %}"> 
                        Más información

                    </a>
        </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
        {% else %}
        {% endif %}

        <!-- FIN DE LA CONDICION   -->


            <!-- INICIO DE LA CONDICION  4 -->
            {% if user.clientes.relacion_tec == "Alumno Maestria Tec" %}
            {% for ev in eventos_smartlink %} 
            {% if ev.tipo_invitacion == "Alumno Maestria Tec"  %}
        <div class="single-more-service-area" >
                
            <div class="more-service-content text-center wow fadeInUp" data-wow-delay=".1s"> 
                <img src="{% static 'img/core-img/trophy.png' %}" alt="">
                <h4>{{ev.titulo}}</h4>
                <a href="{% url 'evento' pk=ev.id %}"> 
                        Más información

                    </a>
        </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
        {% else %}
        {% endif %}

        <!-- FIN DE LA CONDICION   -->


            <!-- INICIO DE LA CONDICION   5-->
            {% if user.clientes.relacion_tec == "Incubado Tec" %}
            {% for ev in eventos_smartlink %} 
            {% if ev.tipo_invitacion == "Incubado Tec"  %}
        <div class="single-more-service-area" >
                
            <div class="more-service-content text-center wow fadeInUp" data-wow-delay=".1s"> 
                <img src="{% static 'img/core-img/trophy.png' %}" alt="">
                <h4>{{ev.titulo}}</h4>
                <a href="{% url 'evento' pk=ev.id %}"> 
                        Más información

                    </a>
        </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
        {% else %}
        {% endif %}

        <!-- FIN DE LA CONDICION   -->



            <!-- INICIO DE LA CONDICION 6  -->
            {% if user.clientes.relacion_tec == "Consejero Tec" %}
            {% for ev in eventos_smartlink %} 
            {% if ev.tipo_invitacion == "Consejero Tec"  %}
        <div class="single-more-service-area" >
                
            <div class="more-service-content text-center wow fadeInUp" data-wow-delay=".1s"> 
                <img src="{% static 'img/core-img/trophy.png' %}" alt="">
                <h4>{{ev.titulo}}</h4>
                <a href="{% url 'evento' pk=ev.id %}"> 
                        Más información

                    </a>
        </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
        {% else %}
        {% endif %}

        <!-- FIN DE LA CONDICION   -->




            <!-- INICIO DE LA CONDICION  7 -->
            {% if user.clientes.relacion_tec == "Papá/Mamá Tec" %}
            {% for ev in eventos_smartlink %} 
            {% if ev.tipo_invitacion == "Papá/Mamá Tec"  %}
        <div class="single-more-service-area" >
                
            <div class="more-service-content text-center wow fadeInUp" data-wow-delay=".1s"> 
                <img src="{% static 'img/core-img/trophy.png' %}" alt="">
                <h4>{{ev.titulo}}</h4>
                <a href="{% url 'evento' pk=ev.id %}"> 
                        Más información

                    </a>
        </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
        {% else %}
        {% endif %}

        <!-- FIN DE LA CONDICION   -->









    </section>
    {% else %}
    {% endif %}
    <!-- ***** Service Area End ***** -->

 
    <!-- ***** Portfolio Area Start ***** -->
    <section class="mosh-portfolio-area section_padding_100_0 clearfix" id="eventos_generales">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <p>Eventos</p>
                        <h2>Eventos generales</h2>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="mosh-projects-menu">
            <div class="text-center portfolio-menu">
                <p class="active" data-filter="*">All</p>
                <p data-filter=".gd">Graphic Design</p>
                <p data-filter=".bi">Brand Identity</p>
                <p data-filter=".pho">Photography</p>
                <p data-filter=".wd">Web Design</p>
                <p data-filter=".pc">Printing Colaterall</p>
            </div>
        </div>
-->


        
        
        <div class="mosh-portfolio">
            <!-- Single gallery Item Start -->
            {% for eventos_generales in eventos_smartlink %} 
            {% if eventos_generales.tipo_invitacion == "General"  %}
            <div class="single_gallery_item gd">
                <img src="{{eventos_generales.imagen_portada.url}}">
                
                <div class="gallery-hover-overlay d-flex align-items-center justify-content-center">
                    <div class="port-hover-text text-center">
                        
                        <h4>{{eventos_generales.titulo}}</h4>
                       
                        
                        <a href="{% url 'evento' pk=eventos_generales.id %}"> 
                            Más información

                        </a>
                        
                    </div>
                </div>
            </div>
            {% else %}
            
            {% endif %}
            {% endfor %}

          


    <!-- 
         
            <div class="single_gallery_item bi">
                <img src="{% static 'img/portfolio-img/2.jpg' %}" alt="">
                <div class="gallery-hover-overlay d-flex align-items-center justify-content-center">
                    <div class="port-hover-text text-center">
                            <h4>{{ev.titulo}}</h4>
                            <a href="#">Más información</a>
                    </div>
                </div>
            </div>
         
            <div class="single_gallery_item gd bi">
                <img src="{% static 'img/portfolio-img/3.jpg' %}" alt="">
                <div class="gallery-hover-overlay d-flex align-items-center justify-content-center">
                    <div class="port-hover-text text-center">
                            <h4>{{ev.titulo}}</h4>
                            <a href="#">Más información</a>
                    </div>
                </div>
            </div>
         
            <div class="single_gallery_item pho">
                <img src="{% static 'img/portfolio-img/4.jpg' %}" alt="">
                <div class="gallery-hover-overlay d-flex align-items-center justify-content-center">
                    <div class="port-hover-text text-center">
                            <h4>{{ev.titulo}}</h4>
                            <a href="#">Más información</a>
                    </div>
                </div>
            </div>
         
            <div class="single_gallery_item pho">
                <img src="{% static 'img/portfolio-img/5.jpg' %}" alt="">
                <div class="gallery-hover-overlay d-flex align-items-center justify-content-center">
                    <div class="port-hover-text text-center">
                            <h4>{{ev.titulo}}</h4>
                            <a href="#">Más información</a>
                    </div>
                </div>
            </div>
         
            <div class="single_gallery_item wd pc">
                <img src="{% static 'img/portfolio-img/6.jpg' %}" alt="">
                <div class="gallery-hover-overlay d-flex align-items-center justify-content-center">
                    <div class="port-hover-text text-center">
                            <h4>{{ev.titulo}}</h4>
                            <a href="#">Más información</a>
                    </div>
                </div>
            </div>
         
            <div class="single_gallery_item wd">
                <img src="{% static 'img/portfolio-img/7.jpg' %}" alt="">
                <div class="gallery-hover-overlay d-flex align-items-center justify-content-center">
                    <div class="port-hover-text text-center">
                            <h4>{{ev.titulo}}</h4>
                            <a href="#">Más información</a>
                    </div>
                </div>
            </div>
         
            <div class="single_gallery_item pc">
                <img src="{% static 'img/portfolio-img/8.jpg' %}" alt="">
                <div class="gallery-hover-overlay d-flex align-items-center justify-content-center">
                    <div class="port-hover-text text-center">
                            <h4>{{ev.titulo}}</h4>
                            <a href="#">Más información</a>
                    </div>
                </div>
            </div>
            -->
        </div>
        
    </section>

 
   
    <!-- ***** Portfolio Area End ***** -->
 
    <!-- ***** Workflow Area Start ***** -->
    <section class="mosh-workflow-area section_padding_100_0 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mb-0">
                        <p></p>
                        <h2>Nuestros ponentes más reconocidos</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="workflow-img">
            <img src="{% static 'img/core-img/work-progress.png' %}" alt="">
        </div>

        <div class="workflow-slides-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="mosh-workflow-slides owl-carousel">
                            <!-- Single Service Area -->
                            <div class="single-workflow-area d-flex">
                                <h2>1.</h2>
                                <div class="workflow-content ml-15">
                                        <img src="{% static 'img/core-img/Tuto.png' %}" alt="logo">
                                        <br/>
                                        <br/>
                                        <br/>
                                    <h4>Eugenio Garza Lagüera</h4>
                                    <p>Director de fondos de emprendimiento</p>
                                    
                                </div>
                            </div>
                            <!-- Single Service Area -->
                            <div class="single-workflow-area d-flex">
                                <h2>2.</h2>
                                <div class="workflow-content ml-15">
                                        <img src="{% static 'img/core-img/fco.png' %}" alt="logo">
                                    <h4>Francisco Hurtado</h4>
                                    <p>Director de Prácticas Digitales en Minsait México</p>
                                </div>
                            </div>
                            <!-- Single Service Area -->
                            <div class="single-workflow-area d-flex">
                                <h2>3.</h2>
                                <div class="workflow-content ml-15">
                                        <img src="{% static 'img/core-img/cultura.png' %}" alt="logo">
                                        <br/>
                                        <br/>
                                        <br/>
                                    <h4>Luis Andrés Enriquez Arias</h4>
                                    <p>CEO de Cultura Colectiva</p>
                                </div>
                            </div>
                            <!-- Single Service Area -->
                            <div class="single-workflow-area d-flex">
                                <h2>4.</h2>
                                <div class="workflow-content ml-15">
                                        <img src="{% static 'img/core-img/mayte.png' %}" alt="logo">
                                    <h4>Mayte Barba</h4>
                                    <p>Consultora internacional de los programas Radical Collaboration y The Human Element</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Service Area End ***** -->

    <!-- ***** CTA Area Start ***** 
    <section class="mosh-call-to-action-area bg-img bg-overlay section_padding_100" style="background-image: url(img/bg-img/cta.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content text-center wow fadeIn" data-wow-delay="0.5s">
                        <div class="section-heading">
                            <p>give us a shout</p>
                            <h2>Are you Ready to have a Talk?</h2>
                            <a href="contact.html" class="btn mosh-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- ***** CTA Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area clearfix">
        <!-- Top Fotter Area -->
        <div class="top-footer-area section_padding_100_0">
            <div class="container">
                <div class="row">
               
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            <h5>Informacion de contacto</h5>
                            <div class="footer-single-contact-info d-flex">
                                <div class="contact-icon">
                                    <img src="{% static 'img/core-img/map.png' %}" alt="">
                                </div>
                                <p>Autopista del Sol Km 104 + 060, Col. Real del Puente</p>
                            </div>
                            <div class="footer-single-contact-info d-flex">
                                <div class="contact-icon">
                                    <img src="{% static 'img/core-img/call.png' %}" alt="">
                                </div>
                                <p>Tel.(+52)777 362 0893 <br> Enlace intercampus 80 282 1817</p>
                            </div>
                            <div class="footer-single-contact-info d-flex">
                                <div class="contact-icon">
                                    <img src="{% static 'img/core-img/message.png' %}" alt="">
                                </div>
                                <p>mdimayuga@itesm.mx</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            <h5>Redes sociales</h5>
                            <div class="footer-single--blog-post">
                                <a href="#" class="blog-post-date">
                                    <h5> <a href="https://tec.mx/es/cuernavaca"  target="_blank"><i class="fa fa-dribbble"aria-hidden="true"></i></a>     Sitio Web</h5>
                                    
                                
                                
                                </a>
                             
                            </div>
                            <div class="footer-single--blog-post">
                                <a href="#" class="blog-post-date">
                                    <h5> <a href="https://twitter.com/tecdemonterrey"  target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>     Twitter</h5>
                                    
                                
                                
                                </a>
                              
                            </div>

                            <div class="footer-single--blog-post">
                                <a href="#" class="blog-post-date">
                                    <h5> <a href="https://www.facebook.com/TECcampusCVA/"  target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>     Facebook</h5>
                                    
                                
                                
                                </a>
                              
                            </div>
                         
                        </div>
                    </div>
                    
                 
                </div>
            </div>
        </div>
        <!-- Fotter Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="footer-bottom-content h-100 d-md-flex justify-content-between align-items-center">
                            <div class="copyright-text">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<a href="https://tec.mx/es/aviso-de-privacidad-para-participantes-y-expositores-congresos-y-simposiums">TERMINIOS & CONDICIONES</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery-2.2.4 js -->
    <script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <!-- Active js -->
    <script type="text/javascript" src="{% static 'js/active.js' %}"></script>
    <script type="text/javascript">
        $(window).on('load',function(){
            $('#myModal').modal('show');
        });
    </script>
</body>

</html>