{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}


{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <span>Enviar correo</span>
</div>
{% endblock %}

{% block content %}
<p>{% blocktrans %}Panel de correos{% endblocktrans %}</p>

    <!-- Core Stylesheet -->
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<form method="POST" action="{% url 'email' %}">{% csrf_token %}
    <div>
        <div>
            <p style="color:black">{{ form.users.errors }}</p>
            <p style="color:black">{{ form.users.label_tag }}</p>
            <p style="color:black">
                {% for user in form.users.initial %}
                    {{ user.correo }}{% if not forloop.last %},&nbsp;{% endif %}
                {% endfor %}
            </p>
            <select name="users" multiple style="display: none">
                {% for user in form.users.initial %}
                    <option value="{{ user.id }}" selected>{{ user }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <p style="color:black">{{ form.asunto.errors }}</p>
            <p style="color:black">{{ form.asunto.label_tag }}</p>
            <p style="color:black">{{ form.asunto }}</p>
        </div>
        <div>
                <p style="color:black">{{ form.media }}</p>
            <p style="color:black">{{ form.mensaje.errors }}</p>
            <p style="color:black">{{ form.mensaje.label_tag }}</p>
            <p style="color:black">{{ form.mensaje }}</p>
            
            
        </div>
        <input type="submit"  class="btn btn-success" value="Enviar correos" />
        
    </div>
</form>


{% endblock %}